@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header nav{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    float: right;
}
header{
    background-color: blue;
    height: 100px;
    position: relative;
}
body{
    margin:auto 100px;
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    
}
.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header div  {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}
header div p:first-child{
    font-family: 'Pacifico', cursive;
    font-size: 45px;

}
header nav div{
    display: inline-block;
    width: 200px;
   
    margin-left:-230px ;

}
